/* * {
    margin: 0;
    padding: 0;
} */

section {
    background-color: black;
    max-width: 800px;
    padding-top: 30px;
    display: grid;
    padding: 5px;
}

.result {
    font-size: 200px;
    text-align: right;
    color: white;
    margin-bottom: 5px;
}

.mathoperations {
    display: flex;
}

.first_row {
    text-align: center;
    align-items: center;
}

.first_row ul{
    list-style-type: none;
    display: flex;
}

.first_content{
    font-size: 50px;
    text-align: center;
    margin: 10px;
    background-color: #A6A6A6;
    color: black;
    padding: 50px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.vlist ul{
    list-style-type: none;
}

.operations {
    font-size: 50px;
    text-align: center;
    margin: 33px;
    background-color: #FF9501;
    color: #FFFFFF;
    padding: 50px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}


.numbers ul{
    list-style-type: none;
    display:flex
}

.numberrows {
    font-size: 50px;
    text-align: center;
    margin: 10px;
    color: #FFFFFF;
    background-color: #333333;
    padding: 50px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.zero {
    font-size: 50px;
    text-align: left;
    margin: 10px;
    color: #FFFFFF;
    background-color: #333333;
    padding: 50px;
    width: 220px;
    height: 50px;
    border-radius: 70px;
}

#solution {
    margin-right: 50px;
}